<p id="notice"><%= notice %></p>
<div class="child row">
  <div class="wrapper col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <div class="topic-text">
      <div class="row" id="row1">
          <div class="col" id="col1">
            <p class="img"><%= image_tag @topic.picture if @topic.picture %></p>
          </div>
          <div class="col" id="col2">
            <p class="right">
              <p class="img"><%= profile_img(@topic.user,"topics") if profile_img(@topic.user,"topics") %></p>
              <p>作成者:<%= @topic.user.name %></p>
              <p id="tw_date">
              作成日:<%= @topic.created_at.strftime("%y/%m/%d %p %l:%M") %><br>
              更新日:<%= @topic.updated_at.strftime("%y/%m/%d %p %l:%M") %></p>
            </p>
          </div>
        </div>

       <div class="row" id="row2">
          <div class="col" id="col1">
            <p><%= @topic.content %></p>
          </div>
          <div class="col" id="col2">
            <div id="like-buttons">
              <%= render partial: 'likes/like', locals: { topic: @topic, likes: @likes, like: @like} %>
            </div>
         </div>
      </div>
    <div>
      <p>コメント一覧</p>
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments, topic: @topic } %>
      </div>
      <%= render partial: 'comments/form', locals: { comment: @comment, topic: @topic } %>
      <% if current_user.id == @topic.user_id %>
        <%= link_to '投稿編集', edit_topic_path(@topic), class: 'btn btn-sml btn-success' %>
      <% end %>
      <%= link_to '投稿一覧へ戻る', topics_path, class: 'btn btn-default' %>
    </div>
  </div>
 </div>
</div>
