<% if user_signed_in? %>
  <% if topic.like_user(current_user.id) %>
    <%= button_to topic_like_path(topic_id: topic.id, id: @like.id), method: :delete, remote: true do %>
    <i class="fa fa-heart-o" style="color:red;"><span><%= topic.likes_count %></span></i>
    <% end %>
  <% else %>
    <%= button_to topic_likes_path(topic_id: topic.id), remote: true do %>
    <i class="fa fa-heart"><span><%= topic.likes_count %></span></i>
    <% end %>
  <% end %>
<% else %>
   <i class="fa fa-heart"><span><%= topic.likes_count %></span></i>
<% end %>
